<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="angular.min.js">

  </script>
  <title>Document</title>
</head>
<body ng-app="app"  ng-init="data='hello stark'">
    <div class="" >
        <input type="text" name="" value="" ng-model="data">
        <div class="" ng-controller="main">
            <button ng-click="clickRed()"  ng-bind="btn.red" type="button" name="button"></button>
            <button ng-click="clickGreen()"  ng-bind="btn.green" type="button" name="button"></button>
            <button ng-click="clickBlue()"  ng-bind="btn.blue" type="button" name="button"></button>
            <p>您选择的颜色是：{{chooseColor}}</p>
        </div>

    </div>
</body>
<script>
  var app = angular.module('app',[]);
  app.controller('main',function($scope){
      $scope.btn = {
        red:'红色',
        green:'绿色',
        blue:'蓝色'
      }

      $scope.chooseColor = '';

      $scope.clickRed = function(){
        $scope.chooseColor = $scope.btn.red;
      }
      $scope.clickGreen = function(){
        $scope.chooseColor = $scope.btn.green;
      }
      $scope.clickBlue = function(){
        $scope.chooseColor = $scope.btn.blue;
      }
  })
</script>
</html>
