<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/angular.js/1.4.11/angular.min.js"></script>
  <title>Document</title>
</head>

<body>
  <div ng-app="app">
    <div ng-controller="main">
      <input type="text" ng-model="name" ng-keyup="change(name)" name="" value="">

      <ul>
        <li ng-repeat="item in data">{{item}}</li>
      </ul>
    </div>
  </div>
</body>
<script>
  var app = angular.module('app', []);
  app.controller('main',['$scope','$http', function ($scope, $http) {
    // $scope.width = 100;
    // $http.get('http://h6.duchengjiu.top/shop/api_cat.php').then(function (data) {
    //     console.log(data);
    // },function(data) {
    //   console.log('发生了一些错误');
    // })

      // $scope.change = function(name){
      //   $http({
      //     method:'JSONP',
      //     url:'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=' + name + '&window.baidu.sug=window.baidu.sug'
      //   }).then(function(res){
      //     console.log(res);
      //       $scope.data = res.data.s
      //   })
      // }
    // http://datainfo.duapp.com/shopdata/getuser.php

    // 参考api
    // https://docs.angularjs.org/api/ng/service/$http

    // $http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=' + name + '&window.baidu.sug=window.baidu.sug',
    //  { jsonpCallbackParam: 'window.baidu.sug' },
    //   function(data){
    //     console.log(data);
    //   }
    // )
  }])
</script>

</html>